{% extends 'flatpages/default.html' %}

{% block title %}
{{ flatpage.title }}
{% endblock title %}

{% block content %}
    <h1>{{ flatpage.title }}</h1>
    <hr>
    <h2>{{ flatpage.content }}</h2>

    <p><i>[Chorus]<br />Can you hear the silence?<br />Can you see the dark?<br />Can you fix the broken?<br />Can you feel, can you feel my heart?<br />(Can you feel my heart?)</i></p>
    <p><em>[Verse]<br />Can you help the hopeless? Well, I'm begging on my knees<br />Can you save my bastard soul, will you wait for me?<br />I'm sorry, brothers, so sorry, lover<br />Forgive me, father, I love you, mother</em></p>
    <p><s>[Chorus]<br />Can you hear the silence? Can you see the dark?<br />Can you fix the broken? Can you feel my heart?<br />Can you feel my heart?<br />(Can you feel my heart?)<br />(Can you feel my heart?)</s></p>
    <p><strong>[Bridge]<br />I'm scared to get close and I hate being alone<br />I long for that feeling to not feel at all<br />The higher I get, the lower I'll sink<br />I can't drown my demons, they know how to swim<br />I'm scared to get close and I hate being alone<br />I long for that feeling to not feel at all<br />The higher I get, the lower I'll sink<br />I can't drown my demons, they know how to swim<br />I'm scared to get close and I hate being alone<br />I long for that feeling to not feel at all<br />The higher I get, the lower I'll sink<br />I can't drown my demons, they know how to swim<br />You might also like<br />Suicide Doors<br />Lil Uzi Vert<br />Endless Fashion<br />Lil Uzi Vert<br />Werewolf<br />Lil Uzi Vert<br />[Chorus]<br />(Can you feel my heart?)<br />Can you hear the silence?<br />Can you see the dark?<br />Can you fix the broken?<br />Can you feel, can you feel my heart?</strong></p>
<a href="https://genius.com/Bring-me-the-horizon-can-you-feel-my-heart-lyrics">Song text<br></a>
{% endblock content %}